<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="../Styles/logIn.css" />
    <link rel="icon" href="../Assets/images/JassLogo-removebg-preview.png">

        <title>Inicio de Sesión</title>
      </head>
<body>
    <div class="login-container">
        <img src="../Assets/images/JassLogo-removebg-preview.png" alt="Logo" class="login-logo">
        <h4>¡BIENVENIDO!</h4>
        <br>
        <div class="login-box">
            <input type="text" id="username" placeholder="Usuario">
            <input type="password" id="password" placeholder="Contraseña">
            <button id="loginBtn">Iniciar Sesión</button>
            <p>¿No estás registrado? <a href="registro.html">Regístrate</a></p>
        </div>
    </div>
    <script src="../functions/login.js"></script>
</body>
</html>
