<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Cuenta</title>
    <link rel="stylesheet" href="../Styles/perfil.css"> 
    <link rel="stylesheet" href="../Styles/styles.css"> 
    <link rel="icon" href="../Assets/images/JassLogo-removebg-preview.png">

</head>
<body>
    <div class="header">
        <h1>MI CUENTA PERSONAL</h1>
        <a href="./index.html" class="logout">CERRAR SESIÓN</a>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="../View/index.html"><img src="../Assets/images/home.png" alt=""></a>
                <a href="../View/inicio.html">Inicio</a>
                
            </li>
            <li>
                <a href="../View/datos.html"><img src="../Assets/images/avatar-4.svg.png" alt=""></a>
                <a href="./datos.html">Datos Personales</a>
            </li>
            <li>
                <a href="./index.html"><img src="../Assets/images/coins-01.svg.png" alt=""></a>
                <a href="./carrito.html">Mi Carrito</a>
            </li>
            <li>
                <a href="./documentacion.html"><img src="../Assets/images/cld-upload.svg.png" alt=""></a>
                <a href="./documentacion.html">Documentación del Bowling</a>
            </li>
        </ul>
    </div>
    <footer>
        <div class="footer">
          <div class="footer-Logo">
            <img src="../Assets/images/logoBlanco y negro.png" alt="">
          </div>
          <div class="footer-contactanos">
            <h4 id="footerContactanos">CONTACTANOS</h4>
            <p id="footerWebsite">WWW.JASSBOWLING.COM</p>
          </div>
          <div class="footer-llamanos">
            <h4 id="footerComunicacion">COMUNICATE CON NOSOTROS</h4>
            <p id="footerEmail">JASSBOWLING@GMAIL.COM</p>
          </div>
          <div class="footer-whatsapp">
            <h4 id="footerWhatsapp">WHATSAPP</h4>
            <p id="footerTelefono">3006683032</p>
          </div>
          <div class="footer-redes">
            <a class="redes" href="https://www.facebook.com/profile.php?id=61560694317953">
              <img src="../Assets/images/facebook.png" alt="facebook">
            </a>
            <a class="redes" href="https://www.instagram.com/jassbowling/">
              <img src="../Assets/images/ig.png" alt="instagram">
            </a>
            <a class="redes" href="https://x.com/BowlingJass">
              <img src="../Assets/images/x.png" alt="x">
            </a>
          </div>
        </div>
      </footer>
</body>
</html>